.header-title {
  font-size: 24px;
  font-weight: bold;
}
.toolbar {
  align-items: center;
  gap: 2rem;
  display: flex;
  background-color: #f5f5f5;
  justify-content: space-between;
  min-height: 4rem;
  padding: 1rem;
  width: 98%;
  @media(max-width:'850px'){
    flex-wrap: wrap;

  }
}
.title-record {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.buttons-template {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.direccion{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 0;
  width: 14.7rem;
}
table {
  width: 100%;
}
mat-form-field {
  margin: 1rem;
}
.container1,
.container2,
.container3 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.mdc-data-table__table {
  margin: 1rem;
  min-width: 97%;
}
.buttons-add-client {
  display: flex;
  gap: 1rem;

}
.buttons-add-client>button{
  min-width: 10rem;
}
.download {
  height: 36px;
  width: 36px;
  text-align: center;
  background-color: rgb(4, 255, 88);
}
.no-download {
  height: 36px;
  width: 36px;
  text-align: center;
  background-color: rgb(252, 188, 188);
}
.mat-mdc-raised-button > .mat-icon {
  margin-left: 0px;
  margin-right: 0px;
}
.mat-column-seqNo {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// .element-row {
//   position: relative;
// }

// .element-row:not(.expanded) {
//   cursor: pointer;
// }

// .element-row:not(.expanded):hover {
//   background: #f5f5f5;
// }

// .element-row.expanded {
//   border-bottom-color: transparent;
// }
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
