<div class="container">
  <ng-container *ngIf="IsWait">
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <mat-toolbar class="toolbar">
    <div class="buttons-add-client">
      <button (click)="addClient()" mat-raised-button>
        Añadir cliente<mat-icon>add</mat-icon>
      </button>
      <button (click)="onCancel()" mat-raised-button>
        Volver<mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <div class="title-record">
      <span class="header-title">Expediente: {{ titleRecord }}</span>
    </div>
    <div class="buttons-template">


      <button
        [ngClass]="this.expData.contratViaje?'download':'no-download'"
        (click)="contratViaje()"
        mat-mini-fab
        matTooltip="Contrato de viaje"

        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>
          <img
            src="./assets/icons/buttonsMicrosoft/negocio.png"
            width="24px"
            alt="negocio"
          />
        </mat-icon>
      </button>
      <button
      [ngClass]="this.expData.visado?'download':'no-download'"
        (click)="visado()"
        mat-mini-fab
        matTooltip="Bono visado"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>
          <img
            src="./assets/icons/buttonsMicrosoft/pasaporte.png"
            width="24px"
            alt="pasaporte"
          />
        </mat-icon>
      </button>
      <button
      [ngClass]="this.expData.contratCancel?'download':'no-download'"
      mat-mini-fab
        matTooltip="Contratación y cancelación"
        aria-label="Example icon button with a menu icon"
        (click)="contratCancel()"
      >
        <mat-icon class="mat-18">
          <img
            src="./assets/icons/buttonsMicrosoft/precio.png"
            width="24px"
            alt="precio"
          />
        </mat-icon>
      </button>
      <button
      [ngClass]="this.expData.seguro?'download':'no-download'"
      (click)="seguro()"
        mat-mini-fab
        matTooltip="Seguro de viaje"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>
          <img
            src="./assets/icons/buttonsMicrosoft/seguro.png"
            width="24px"
            alt="seguro"
          />
        </mat-icon>
      </button>

      <button
      [ngClass]="this.expData.aerolinea?'download':'no-download'"
      (click)="aerolinea()"
        mat-mini-fab
        matTooltip="Bono aerolinea"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon>
          <img
            src="./assets/icons/buttonsMicrosoft/avion.png"
            width="24px"
            alt="viaje"
          />
        </mat-icon>
      </button>
      <button
        color="#5f6368"
        [ngClass]="this.expData.proforma?'download':'no-download'"
        (click)="proforma()"
        mat-mini-fab
        matTooltip="Proforma"
        aria-label="Example icon button with a menu icon"
      >
        <mat-icon color="#5f6368">
          paid
        </mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <br />


    <mat-table
     class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
      <ng-container matColumnDef="idCliente">
        <mat-header-cell *matHeaderCellDef>Id del cliente</mat-header-cell>
        <mat-cell
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ i+1 }}
          <!-- <mat-icon>picture_as_pdf</mat-icon> -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ cliente.nombre }}
          <!-- <mat-icon>picture_as_pdf</mat-icon> -->
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="apellidos">
        <mat-header-cell *matHeaderCellDef>Apellidos</mat-header-cell>
        <mat-cell
          class="descripcion-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ cliente.apellidos }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="fecha de nacimiento">
        <mat-header-cell *matHeaderCellDef>Fecha de nacimiento</mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ cliente.fechaNac | date : "dd-MM-yyyy" }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef>Dni</mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ cliente.nif }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="pasaporte">
        <mat-header-cell *matHeaderCellDef>Pasaporte</mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ cliente.pasaporte }}</mat-cell
        >
      </ng-container>
      <!-- <ng-container matColumnDef="ciudad">
        <mat-header-cell *matHeaderCellDef>Ciudad</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let cliente; let i = index" [ngStyle]="i === 0 ? {'background-color': '#FAF3E0'} : {}"
          >{{cliente.ciudad}}</mat-cell
        >
      </ng-container> -->
      <ng-container matColumnDef="direccion">
        <mat-header-cell *matHeaderCellDef>Dirección</mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ cliente.direccion }}, {{ cliente.ciudad }},
          {{ cliente.codPostal }}</mat-cell
        >
      </ng-container>
      <!-- <ng-container matColumnDef="codPostal">
        <mat-header-cell *matHeaderCellDef>Código postal</mat-header-cell>
        <mat-cell class="duration-cell" *matCellDef="let cliente; let i = index" [ngStyle]="i === 0 ? {'background-color': '#FAF3E0'} : {}"
          >{{cliente.codPostal}}</mat-cell
        >
      </ng-container> -->

      <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
          >{{ cliente.telefono }}</mat-cell
        >
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
        >
          <p style=>
            {{ cliente.email }}
          </p></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
        >
          <button
            mat-icon-button
            aria-label="Editar cliente"
            (click)="edit(true, cliente)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remove">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell
          class="duration-cell"
          *matCellDef="let cliente; let i = index"
          [ngStyle]="i === 0 ? { 'background-color': '#FAF3E0' } : {}"
        >
          <button
            mat-icon-button
            color="warn"
            aria-label="Delete cliente"
            (click)="remove(cliente)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row
        *cdkRowDef="let row; columns: displayedColumns"
        [ngClass]="{ highlight: selectedRowIndex === row.fecha }"
      >
      </mat-row>

      <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"

              class="element-row"
              [class.expanded]="expandedElement === row"
              (click)="expandedElement = row"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
              [@detailExpand]="row.element === expandedElement ? 'expanded' : 'collapsed'"
              style="overflow: hidden">
      </mat-row>-->
    </mat-table>

  <mat-paginator
    [pageSize]="[10]"
    [length]="dataSource.data.length"
    [pageSizeOptions]="[10]"
    [pageIndex]="0"
    [hidePageSize]="false"
    showFirstLastButtons="true"
  >
  </mat-paginator>
</div>
