<div class="container">
  <ng-container *ngIf="IsWait">
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
  <div>
    <h2>
      {{ isEdit === "true" ? "Editar cliente" : "Añadir cliente" }}
    </h2>
  </div>
  <!-- Formulario -->
  <form [formGroup]="addClientForm" class="add-client__form">
    <div class="container1">
      <mat-form-field>
        <mat-label for="nombre" appearance="standard">Nombre</mat-label>
        <input
          id="nombre"
          placeholder="Nombre"
          type="text"
          formControlName="nombre"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="apellidos" appearance="standard">Apellidos</mat-label>
        <input
          id="apellidos"
          placeholder="Apellidos"
          type="text"
          formControlName="apellidos"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="fechaNac" appearance="standard"
          >Fecha de nacimiento</mat-label
        >
        <input
          [readonly]="true"
          matInput
          [matDatepicker]="picker"
          id="fechaNac"
          placeholder="Fecha de nacimiento"
          formControlName="fechaNac"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label for="nif" floatLabel="always">DNI</mat-label>
        <input
          id="nif"
          placeholder="DNI"
          type="text"
          formControlName="nif"
          matInput
        />
      </mat-form-field>
    </div>
    <!-- <mat-form-field>
      <mat-label  floatLabel="always">Example</mat-label >
      <input  placeholder="example" type="text" formControlName="nif" matInput>
    </mat-form-field> -->

    <div class="container2">
      <mat-form-field>
        <mat-label for="pasaporte" appearance="standard">Pasaporte</mat-label>
        <input
          id="pasaporte"
          placeholder="pasaporte"
          type="text"
          formControlName="pasaporte"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="direccion" appearance="standard"
          >Calle y número</mat-label
        >
        <input
          id="direccion"
          placeholder="Calle y número"
          type="text"
          formControlName="direccion"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="ciudad" appearance="standard"
          >Ciudad o población</mat-label
        >
        <input
          id="ciudad"
          placeholder="Ciudad o población"
          type="text"
          formControlName="ciudad"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label for="codPostal" appearance="standard"
          >Código postal</mat-label
        >
        <input
          id="codPostal"
          placeholder="Código postal"
          type="text"
          formControlName="codPostal"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="container3">
      <mat-form-field>
        <mat-label for="telefono" appearance="standard">Telefono</mat-label>
        <input
          id="telefono"
          type="text"
          placeholder="Telefono"
          formControlName="telefono"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="email" appearance="standard">Email</mat-label>
        <input
          id="email"
          placeholder="Email"
          type="text"
          formControlName="email"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label appearance="standard">Firma</mat-label>
        <input
          matInput
          id="firma"
          placeholder="Firma"
          type="text"
          formControlName="firma"
        />
      </mat-form-field>
    </div>
  </form>
  <div class="buttons__add__client">
    <button (click)="onSubmit()" mat-raised-button>
      Guardar<mat-icon>save</mat-icon>
    </button>
    <button (click)="onCancel()" mat-raised-button>
      Cancelar<mat-icon>cancel</mat-icon>
    </button>
  </div>
  <!-- <button [disabled]="!recordForm.valid" (click)="scan()" mat-raised-button>
    Escanear<mat-icon>add_to_queue</mat-icon>
  </button> -->
  <br />
  <!-- <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let fichero">
        <mat-icon>picture_as_pdf</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef>Id de referencia</mat-header-cell>
      <mat-cell class="descripcion-cell" *matCellDef="let fichero" (click)="view(fichero.descripcion)">{{fichero.descripcion}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="fecha de nacimiento">
      <mat-header-cell *matHeaderCellDef>Fecha de creación</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">{{fichero.fecha | date :'dd-MM-yyyy'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef>Dni</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">111111</mat-cell>
    </ng-container>
    <ng-container matColumnDef="pasaporte">
      <mat-header-cell *matHeaderCellDef>Pasaporte</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">111111</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ciudad">
      <mat-header-cell *matHeaderCellDef>Ciudad</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">111111</mat-cell>
    </ng-container>
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef>Dirección</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">111111</mat-cell>
    </ng-container>
    <ng-container matColumnDef="codPostal">
      <mat-header-cell *matHeaderCellDef>Código postal</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">111111</mat-cell>
    </ng-container>
    <ng-container matColumnDef="telefono">
      <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">111111</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">111111</mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell class="duration-cell" *matCellDef="let fichero">
        <button mat-icon-button color="warn" aria-label="Borrar fichero" (click)="remove(fichero)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *cdkRowDef="let row; columns: displayedColumns;"[ngClass]="{'highlight': selectedRowIndex === row.fecha}" >
    </mat-row>
  </mat-table> -->
</div>
