@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

 background-color: #A4C8DF;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */


  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    width: 14.7rem;
}

  .mdc-text-field {
    border-bottom-right-radius: var(--mdc-shape-small, 4px);
    border-bottom-left-radius: var(--mdc-shape-small, 4px);
    box-sizing: content-box;
    margin-bottom: -12px;
    width: 218px;
  }


  mat-form-field {
    font-size: 14px;
    margin-right: 24px;
    margin-top: 6px;
    display: block;

  }



  .mat-column-select {
    overflow: initial;
  }
  .highlight{
    background: #f8f8f8;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
}

