
table {
  border: 1px solid;
  //width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-paginator-outer-container{
    float: left;
}

.mat-mdc-tab-group {
  width: 100%;
}
.mat-mdc-tab-body-content{
  margin:0 1rem;
}
.mat-mdc-tab-labels
{
  margin: 0 1rem;
}
.buttons{
  gap: 1rem;
}
