<div class="container">
  <mat-tab-group>
    <mat-tab label="Expedientes">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M240-80q-50 0-85-35t-35-85v-120h120v-560h600v680q0 50-35 85t-85 35H240Zm480-80q17 0 28.5-11.5T760-200v-600H320v480h360v120q0 17 11.5 28.5T720-160ZM360-600v-80h360v80H360Zm0 120v-80h360v80H360ZM240-160h360v-80H200v40q0 17 11.5 28.5T240-160Zm0 0h-40 400-360Z"/></svg> </mat-icon>
        Expedientes
      </ng-template>
      <mat-toolbar class="buttons">
        <button (click)="onNew()" mat-raised-button>
          Añadir expediente<mat-icon>add</mat-icon>
        </button>
        <button (click)="remove()" mat-raised-button>
          Borrar<mat-icon>delete</mat-icon>
        </button>
        <span class="example-spacer"></span>

        <mat-form-field *ngIf="home">
          <mat-label>Filtrar por cualquier columna</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Escribir cualquier valor"
            #input
          />
        </mat-form-field>
      </mat-toolbar>

      <table *ngIf="home" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? toggleAllRows() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.$loki }}</td>
        </ng-container>

        <!-- ref Column -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
        </ng-container>

        <!-- fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha | date : "dd-MM-yyyy" }}
          </td>
        </ng-container>

        <!-- idGrupo Column -->
        <ng-container matColumnDef="idGrupo">
          <th mat-header-cell *matHeaderCellDef>Id del grupo</th>
          <td mat-cell *matCellDef="let element">{{ element.idGrupo }}</td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let fichero">
            <button
              mat-icon-button
              aria-label="Editar expediente"
              (click)="onNew(true,fichero)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"> -->
        <tr
          mat-row
          *cdkRowDef="let row; columns: displayedColumns"
          [ngClass]="{ highlight: selectedRowIndex === row.id }"
          (click)="clientsList(row)"
        ></tr>
      </table>

      <mat-paginator
        [pageSize]="[10]"
        [length]="dataSource.data.length"
        [pageSizeOptions]="[10]"
        [pageIndex]="0"
        [hidePageSize]="false"
        showFirstLastButtons="true"
      >
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Presupuestos">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon"> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m787-145 28-28-75-75v-112h-40v128l87 87Zm-587 25q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v268q-19-9-39-15.5t-41-9.5v-243H200v560h242q3 22 9.5 42t15.5 38H200Zm0-120v40-560 243-3 280Zm80-40h163q3-21 9.5-41t14.5-39H280v80Zm0-160h244q32-30 71.5-50t84.5-27v-3H280v80Zm0-160h400v-80H280v80ZM720-40q-83 0-141.5-58.5T520-240q0-83 58.5-141.5T720-440q83 0 141.5 58.5T920-240q0 83-58.5 141.5T720-40Z"/></svg> </mat-icon>
        Presupuestos
      </ng-template>
      <mat-toolbar class="buttons">
        <button (click)="onNewBudget()" mat-raised-button>
          Añadir presupuesto<mat-icon>add</mat-icon>
        </button>
        <button (click)="removeBudget()" mat-raised-button>
          Borrar<mat-icon>delete</mat-icon>
        </button>
        <span class="example-spacer"></span>
      </mat-toolbar>

      <table *ngIf="home" mat-table [dataSource]="dataSourceBudget">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? toggleAllRowsBudget() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.$loki }}</td>
        </ng-container>

        <!-- ref Column -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef>Id de referencia</th>
          <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
        </ng-container>

        <!-- fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha | date : "dd-MM-yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell class="duration-cell" *matCellDef="let fichero">
            <button
              mat-icon-button
              aria-label="Editar Presupuesto"
              (click)="onNewBudget(true,fichero)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsPres"></tr>
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumnsPres;"> -->
        <tr
          mat-row
          *cdkRowDef="let row; columns: displayedColumnsPres"
          [ngClass]="{ highlight: selectedRowIndex === row.id }"
        ></tr>
      </table>

      <mat-paginator
        [pageSize]="[10]"
        [length]="dataSourceBudget.data.length"
        [pageSizeOptions]="[10]"
        [pageIndex]="0"
        [hidePageSize]="false"
        showFirstLastButtons="true"
      >
      </mat-paginator>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- Copyright 2023 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
